{%extends 'base.html' %}
{%load static %}
{%block content%}
    <style>
        .n1{
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:60px;

        }
    </style>
    <div class="container n1">
        <div>
            <h1>You have been logged out</h1>
            <p>Thank you for visiting. Click the login button to return to your data.</p>
        </div>
    </div>
{%endblock content%}